/* Breakpoints */
/* Mixins */
/* Layout values */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.index__content {
  display: flex;
  align-items: center;
  flex-direction: column; }

.index__boards--title {
  color: #2D324A;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0; }

.index__boards {
  padding: 0 2rem;
  max-width: 64em;
  list-style: none;
  margin-top: -1rem;
  margin-left: -2rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }
  .index__boards > * {
    padding-top: 1rem; }
  .index__boards > * {
    padding-left: 2rem; }

.index--link {
  text-decoration: none;
  color: #2D324A;
  white-space: nowrap; }
  .index--link:hover {
    color: #10121a; }
