/* Breakpoints */
/* Mixins */
/* Layout values */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #DADAD9;
  font-family: sans-serif; }

.layout__header {
  background-color: #EDE6E3;
  border-bottom: 1px solid #36382E;
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin-left: -3rem; }
  .layout__header > * {
    padding-left: 3rem; }

.layout__boards {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-top: -0.5rem; }
  .layout__boards > * {
    padding-left: 1rem; }
  .layout__boards > * {
    padding-top: 0.5rem; }

.layout__header--link {
  text-decoration: none;
  color: #36382E;
  font-size: 0.8em;
  font-weight: bold; }
  .layout__header--link:hover {
    color: #0e0e0c; }
