{% extends "layout.html" %}
{% block content %}

<div class="board-content">
    <div class="board-header">
        <h1 class="board-title">{{ board.path }} - {{ board.name }}</h1>
        <p class="board-description">{{ board.description }}</p>
    </div>


    {% with %}
        {% set action = "/new-thread" %}
        {% set hidden_value = board.path %}
        {% set type = "board" %}
        {% set button_text = "Create thread" %}

        {% include "userdata_form.html" %}
    {% endwith %}

    {% if threads | length == 0 %}
        <h1 class="no-threads">No threads</h1>
    {% endif %}

    {% set parent="board" %}
    <div class="board-threads">
        {% for thread in threads %}
            <div class="thread-wrapper">
                <div class="thread-header">
                    <a href="/thread/{{ thread[0].id }}">
                        {{ thread[0].body }}
                    </a>
                </div>

                {% include "thread.html" %}

                <a href="/thread/{{ thread[0].id }}" class="open-thread-button">Open thread</a>
            </div>
        {% endfor %}
    </div>

    <div class="board-navigation">
        {% set start_index = page - 3 %}
        {% if start_index < 1 %}
            {% set start_index = 1 %}
        {% endif %}
        {% set end_index=start_index + 7 %}
        {% for i in range(start_index, end_index) %}
            {% if i==page %}
                <a href="{{ board['path'] }}{{ i }}" class="current-board">{{ i }}</a>
            {% else %}
                <a href="{{ board['path'] }}{{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock %}
