{% extends "layout.html" %} {% block content %}

<div class="index-content">
    <h1 class="index-boards-title">Tsohachan</h1>
    <ul class="index-boards">
        {% for board in boards %}
        <li class="index-board-element">
            <a href="{{ board.path }}" class="index-link index-board-link">
                    {{ board.name }} - {{ board.path }}
                </a>
        </li>
        {% endfor %}
    </ul>

    <div class="index-thread-listings">
        <div class="index-thread-listing">
            <h1 class="index-popular-threads-title">Popular threads today</h1>
            <ul class="index-popular-threads">
                {% for thread in popular_threads %}
                <li class="popular-thread">
                    <a class="popular-thread-board-name" href="{{ thread.board_path }}">{{ thread.board_name }}:</a>
                    <a class="popular-thread-body" href="/thread/{{ thread.id }}">{{ thread.body }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="index-thread-listing">
            <h1 class="index-popular-threads-title">Most recent threads</h1>
            <ul class="index-popular-threads">
                {% for thread in recent_threads %}
                <li class="popular-thread">
                    <a class="popular-thread-board-name" href="{{ thread.board_path }}">{{ thread.board_name }}:</a>
                    <a class="popular-thread-body" href="/thread/{{ thread.id }}">{{ thread.body }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <form class="index-search" action='/search' method='POST'>
        <input type="text" placeholder="Search term" name="term" />
        <input type="submit" value="Search" />
    </form>
</div>

{% endblock %}