<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TsohaChan</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" />
</head>
<body>
    {% extends "layout.html" %}
    
    {% block content %}

    <div class="index__content">
        <h1 class="index__boards--title">Tsohachan</h1>
        <ul class="index__boards">
            {% for board in boards %}
            <li class="index__board--element">
                <a href="{{board['path']}}" class="index--link index__board--link">
                    {{ board['name'] }} - {{ board['path'] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>