@import 'util.sass'

.board-header
    display: flex
    justify-content: center
    flex-direction: column
    text-align: center
    margin: 2rem 0

.board-title
    color: $font-color
    font-size: 2em
    margin-bottom: 1rem

.board-description
    font-size: italic

.no-threads
    text-align: center
    padding: 2rem 0
    color: $font-color

.thread-wrapper
    border-bottom: 1px solid $border-color
    padding: 1rem 0

    &:last-of-type
        border-bottom: 0

.thread-header
    width: 25%
    min-width: 20em

    a
        display: block
        width: 100%
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2em
        text-decoration: none
        color: $font-color
        margin-bottom: .5rem

.board-navigation
    a
        padding: .5rem
        color: $font-color
        text-decoration: none

    .current-board
        background-color: $highlight-color
        font-weight: bold
